body{background:#1e1e1e;color:#eee;font-family:Arial;padding:20px;}
header{text-align:center;padding:20px;}
.avatar{width:180px;border-radius:50%;}
section{margin-top:30px;background:#2a2a2a;padding:20px;border-radius:12px;}
a{color:#6ab0ff;}
